[Desktop Entry]
Version=1.0
Type=Application
Name=Browser Seizer
GenericName=Browser Seizer
Comment=Seize the fact that you have an already running browser
Icon=4C5A_BrowserSelect.0
Exec=python /home/sam/bin/seizer.py %u
NoDisplay=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=false
Terminal=false

